.section {
    background-color: #f9f9fb;
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.quees {
    margin-top: 50px;
}

.section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1.8rem, 4vw, 2.2rem);
    font-weight: 700;
    color: #1c1c1c;
}

.section p {
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 1.15rem);
    margin-bottom: 1rem;
    color: #555;
    line-height: 1.5;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.feature-card {
    background: #ffffff;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card img {
    width: 80px;
    margin: auto;
    margin-bottom: 1rem;
}

.feature-card h3 {
    margin-bottom: 0.8rem;
    font-size: clamp(1.1rem, 2.2vw, 1.2rem);
    color: #1c1c1c;
}

.feature-card p {
    font-size: 1.1rem;
    color: #666;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    color: var(--color-primary);
    font-weight: 700;
}

.price .old {
    text-decoration: line-through;
    color: #999;
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 1.3rem);
}

.price .new {
    font-size: clamp(1.3rem, 4vw, 1.8rem);
}


.tech-icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.tech-icons img {
    width: 75px;
    transition: transform 0.3s ease;
}


.btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
    padding: 0.85rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s ease;
}

.btn:hover {
    color: #fff;
    opacity: .8;
}

@media (max-width: 992px) {
    .features-list {
        gap: 1.5rem;
    }

    .tech-icons {
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .section h2 {
        font-size: clamp(1.6rem, 5vw, 1.9rem);
    }

    .section p {
        font-size: clamp(0.9rem, 3vw, 1rem);
    }

    .feature-card {
        width: 90%;
        padding: 1.8rem 1rem;
    }

    .tech-icons img {
        width: 60px;
    }
}

@media (max-width: 480px) {
    .section h2 {
        font-size: clamp(1.6rem, 6vw, 1.7rem);
    }

    .section p {
        font-size: clamp(1.1rem, 4vw, 0.95rem);
    }

    .price {
        font-size: clamp(1.5rem, 5vw, 1.8rem);
    }
}